h1 a {
    color: #000;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    cursor: pointer;
}

th:hover {
    background-color: #f1f1f1;
}

.ingredient-name {
    font-weight: bold;
    margin-right: 0.3em;
}
.ingredient-name::after {
    content: " :";
}

input, select {
    font: inherit;
}

input[type="number"] {
    width: 50px;
    border: none;
    text-align: center;
    appearance: textfield;
}

select {
    /* Almost invisible */
    background: none;
    border: none;
    text-align: center;
    appearance: none;
}
